<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Detail entree piece">

      <p>Date d'entrée : {{ listeEntree[0]?.dateEntree }}</p>
      <p>Fournisseur : {{ listeEntree[0]?.fournisseur?.nom }}</p>
      <p>Numéro BL : {{ listeEntree[0]?.numeroBl }}</p>
      <p>Commentaire : {{ listeEntree[0]?.commentaire }}</p>


      <table class="table table-striped table-hover mt-3">
        <thead>
          <tr>
            <th>Piece(Reference)</th>
            <th>Prix unitaire(Ar)</th>
            <th>Quantite</th>
            <th>Marge Beneficiaire(%)</th>
            <th>Prix total(Ar)</th>
            <th>Date expiration</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detailEntree of listeDetailEntree; let i = index">
            <td>{{ detailEntree.idPiece.nomPiece }}({{ detailEntree.idPiece.referencePiece }})</td>
            <td>{{ detailEntree.prixUnitaire }}</td>
            <td>{{ detailEntree.qte }}</td>
            <td>{{ detailEntree.margeBeneficiaire }}</td>
            <td>{{ detailEntree.prixTotal }}</td>
            <td>{{ detailEntree.dateExpiration }}</td>
          </tr>
        </tbody>
      </table>

    </app-card>
  </div>
</div>






