<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Tâches achevées">
      <table class="table table-striped table-hover mt-3">
        <thead>
          <tr>
            <th border="1">Date entree</th>
            <th border="1">Date debut</th>
            <th border="1">Deadline</th>
            <th border="1">Date fin</th>
            <th border="1">Numero tache</th>
            <th border="1">Numero devis</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let planning of historiquePlanning; let i = index">
            <td>{{ planning.dateDebut | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ planning.dateDebutTache | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ planning.deadline | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ planning.dateFinTache | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ planning.numeroTache }}</td>
            <td>{{ planning.idDevis.numeroDevis }}</td>
          </tr>
        </tbody>
      </table>


    </app-card>
  </div>
</div>



