<ul class="nav flex-column">
  <li class="nav-item coded-menu-caption">
    <button (click)="toggleMenu()" (keydown.enter)="toggleMenu()" tabindex="0" class="menu-button">
      Manager
    </button>
    <ul *ngIf="isMenuOpen" class="submenu">
      <li>
        <a href="marque" tabindex="0">MarqueVoiture</a>
      </li>
      <li>
        <a href="modele" tabindex="0">Modele voiture</a>
      </li>
      <li>
        <a href="fournisseur" tabindex="0">Fournisseur</a>
      </li>
      <li>
        <a href="piece" tabindex="0">Pièce</a>
      </li>
      <li>
        <a href="modePaiement" tabindex="0">Mode paiement</a>
      </li>
      <li>
        <a href="stockPiece" tabindex="0">Stock piece</a>
      </li>
      <li>
        <a href="entreePiece" tabindex="0">Entree piece</a>
      </li>
      <li>
        <a href="sortiePiece" tabindex="0">Sortie piece</a>
      </li>
    </ul>
  </li>

  <li class="nav-item coded-menu-caption">
    <button (click)="toggleMenuClient()" (keydown.enter)="toggleMenu()" tabindex="0" class="menu-button">
      Client
    </button>
    <ul *ngIf="isMenuOpenClient" class="submenu">
      <li>
        <a href="demandeDevis" tabindex="0">Demande devis</a>
      </li>
    </ul>
  </li>

  <li class="nav-item coded-menu-caption">
    <button (click)="toggleMenuMecanicien()" (keydown.enter)="toggleMenu()" tabindex="0" class="menu-button">
      Mecanicien
    </button>
    <ul *ngIf="isMenuOpenFournisseur" class="submenu">
      <li>
        <a href="planningMecanicien" tabindex="0">Planning</a>
      </li>
      <li>
        <a href="calendrierMecanicien" tabindex="0">Calendrier</a>
      </li>
    </ul>
  </li>

  <li class="nav-item coded-menu-caption">
    <label for="test">Test</label>
  </li>
</ul>
<!-- CSS -->
<style>
  .menu-button {
    background: transparent;
    /* Fond transparent */
    border: none;
    /* Supprime la bordure */
    cursor: pointer;
    /* Curseur en mode clic */
    font-size: inherit;
    /* Garde la taille du texte */

  }


  .submenu {
    list-style: none;
    padding-left: 16px;
    /* Indentation du sous-menu */
    display: block;
  }

  .submenu li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 0;
  }

  .submenu li a:hover {
    color: blue;
    /* Couleur au survol */
  }
</style>
