<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Mon calendrier">
      <full-calendar [options]="calendarOptions"></full-calendar>


      <!-- Modal -->
      <div id="eventModal" class="modal" tabindex="-1" role="dialog" style="display:none;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
            </div>
          </div>
        </div>
      </div>
      <!-- FullCalendar -->
      <div id="calendar"></div>
    </app-card>
  </div>
</div>
