<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Mon planning">

      <div class="kanban-board">

        <div class="kanban-column">
          <h5 class="kanban-header">A FAIRE</h5>
          <div class="kanban-card">
            <div class="card">
              <div class="card-body">
                <button id="inactiveButton" class="btn btn" style="background-color: yellow; color: black;" disabled>
                  <mat-icon>calendar_today</mat-icon> Date entree
                </button>
                <button id="inactiveButton" class="btn btn-secondary" style="background-color: transparent; color: black; border: none;" disabled>
                  <b>Immatricule</b>
                </button>

                &nbsp;&nbsp;&nbsp;
                <button id="inactiveButton" class="btn btn-secondary" style="background-color: transparent; color: black; border: none;" disabled>
                  <b>Type voiture</b>
                </button>

                <br>
                <br>
                <b>Type service</b>
                &nbsp;&nbsp;&nbsp;
                <p class="card-time"> </p>
                <a href="#" class="btn btn-warning btn-add btn-sm  m-1" id="linkToDisable">
                  <mat-icon>schedule</mat-icon> Deadline
                </a>
                <a href="#" class="btn btn-primary btn-info btn-sm  m-1" style="width: 50px;">
                  <mat-icon>visibility</mat-icon>
                </a>
                <button type="button" class="btn btn-success btn-finish  m-1 btn-sm" style="width: 50px;"
                  data-toggle="modal" data-target="#finEtape" data-id="" data-idetape="5">
                  <mat-icon>check</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="kanban-column">
          <h5 class="kanban-header">EN COURS</h5>
          <div class="kanban-card">
            <div class="card">
              <div class="card-body">
                <button id="inactiveButton" class="btn btn" style="background-color: yellow; color: black;" disabled>
                  <mat-icon>calendar_today</mat-icon> Date entree
                </button>
                <button id="inactiveButton" class="btn btn-secondary" style="background-color: transparent; color: black; border: none;" disabled>
                  <b>Immatricule</b>
                </button>

                &nbsp;&nbsp;&nbsp;
                <button id="inactiveButton" class="btn btn-secondary" style="background-color: transparent; color: black; border: none;" disabled>
                  <b>Type voiture</b>
                </button>

                <br>
                <br>
                <b>Type service</b>
                &nbsp;&nbsp;&nbsp;
                <p class="card-time"> </p>
                <a href="#" class="btn btn-warning btn-add btn-sm  m-1" id="linkToDisable">
                  <mat-icon>schedule</mat-icon> Deadline
                </a>
                <a href="#" class="btn btn-primary btn-info btn-sm  m-1" style="width: 50px;">
                  <mat-icon>visibility</mat-icon>
                </a>
                <button type="button" class="btn btn-success btn-finish  m-1 btn-sm" style="width: 50px;"
                  data-toggle="modal" data-target="#finEtape" data-id="" data-idetape="5">
                  <mat-icon>check</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="kanban-column">
          <h5 class="kanban-header">TERMINER</h5>
          <div class="kanban-card">
            <div class="card">
              <div class="card-body">
                <button id="inactiveButton" class="btn btn" style="background-color: yellow; color: black;" disabled>
                  <mat-icon>calendar_today</mat-icon> Date entree
                </button>
                <button id="inactiveButton" class="btn btn-secondary" style="background-color: transparent; color: black; border: none;" disabled>
                  <b>Immatricule</b>
                </button>

                &nbsp;&nbsp;&nbsp;
                <button id="inactiveButton" class="btn btn-secondary" style="background-color: transparent; color: black; border: none;" disabled>
                  <b>Type voiture</b>
                </button>

                <br>
                <br>
                <b>Type service</b>
                &nbsp;&nbsp;&nbsp;
                <p class="card-time"> </p>
                <a href="#" class="btn btn-warning btn-add btn-sm  m-1" id="linkToDisable">
                  <mat-icon>schedule</mat-icon> Deadline
                </a>
                <a href="#" class="btn btn-primary btn-info btn-sm  m-1" style="width: 50px;">
                  <mat-icon>visibility</mat-icon>
                </a>
                <button type="button" class="btn btn-success btn-finish  m-1 btn-sm" style="width: 50px;"
                  data-toggle="modal" data-target="#finEtape" data-id="" data-idetape="5">
                  <mat-icon>check</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>



      </div>

    </app-card>
  </div>
</div>






