<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="EntreePiece">
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="m-0" style="color: transparent;">a</h6>
        <button class="btn btn-primary" (click)="openAddModal()">Ajouter</button>
      </div>

      <table class="table table-striped table-hover mt-3">
        <thead>
          <tr>
            <th border="1">Date entree</th>
            <th border="1">Fournisseur</th>
            <th border="1">Numero Bl</th>
            <th border="1">Commentaire</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entree of listePieceEntree; let i = index">
            <td>{{ entree.dateEntree }}</td>
            <td>{{ entree.fournisseur.nom }}</td>
            <td>{{ entree.numeroBl }}</td>
            <td>{{ entree.commentaire }}</td>
            <td><button class="btn btn-warning mr-3" [routerLink]="['/detailEntreePiece', entree._id]">Details</button>
          </tr>
        </tbody>
      </table>
    </app-card>
  </div>
</div>


<!-- Modal d'ajout -->
<div class="modal fade" id="ajoutModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-custom">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajout entree piece</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <form autocomplete="off">
        <div class="modal-body">
          <div class="mb-3">
            <div class="row">
              <div class="col-3">
                <label for="dateEntree" class="form-label">Date entree</label>
                <input type="date" id="dateEntree" name="dateEntree" [(ngModel)]="entreePiece.dateEntree" class="form-control" required />
              </div>
              <div class="col-3">
                <label for="fournisseur" class="form-label">Fournisseur</label>
                <input type="text" id="fournisseur" name="fournisseur" class="form-control" [(ngModel)]="query"
                  (input)="searchFournisseur()" />
                <ul *ngIf="fournisseurSuggestions.length > 0" class="list-group mt-2">
                  <li *ngFor="let fournisseur of fournisseurSuggestions" class="list-group-item"
                    (click)="selectSuggestion(fournisseur)">
                    {{ fournisseur.nom }}
                  </li>
                </ul>
              </div>
              <div class="col-3">
                <label for="commentaire" class="form-label">Commentaire</label>
                <input type="text" id="commentaire" name="commentaire" [(ngModel)]="entreePiece.commentaire" class="form-control" />
              </div>
              <div class="col-3">
                <label for="numeroBl" class="form-label">Numero Bl</label>
                <input type="text" id="numeroBl" name="numeroBl" [(ngModel)]="entreePiece.numeroBl" class="form-control" />
              </div>
            </div>

          </div>

          <div class="mb-3">
            <div class="row">
              <div class="col-3">
                <label for="piece" class="form-label">Pièce</label>
                <input type="text" id="piece" name="piece" class="form-control" [(ngModel)]="piece" (input)="searchPiece()" />
                <ul *ngIf="pieceSuggestions.length > 0" class="list-group mt-2">
                  <li *ngFor="let piece of pieceSuggestions" class="list-group-item" (click)="selectSuggestionPiece(piece)">
                    {{ piece.nomPiece }}({{ piece.referencePiece }})
                  </li>
                </ul>
              </div>
              <div class="col-2">
                <label for="prixUnitaire" class="form-label">P.U(Ar)</label>
                <input type="text" id="prixUnitaire" name="prixUnitaire" class="form-control" [(ngModel)]="prixUnitaire" />
              </div>
              <div class="col-2">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form-control" [(ngModel)]="nombre" />
              </div>
              <div class="col-2">
                <label for="margeBeneficiaire" class="form-label">Marge bénéficiaire(%)</label>
                <input type="text" id="margeBeneficiaire" name="margeBeneficiaire" class="form-control" [(ngModel)]="margeBeneficiaire" />
              </div>
              <div class="col-2">
                <label for="dateExpiration" class="form-label">Date expiration</label>
                <input type="date" id="dateExpiration" name="dateExpiration" class="form-control" [(ngModel)]="dateExpiration" />
              </div>
              <div class="col-1">
                <label for="ajouterPiece" class="form-label">|</label>
                <button
                class="btn btn-primary form-control"
                (click)="ajouterPiece()"
                [disabled]="!pieceSelectionnee">
                Plus
              </button>
              </div>
            </div>
          </div>

          <table class="table mt-3" *ngIf="piecesAjoutees.length > 0">
            <thead>
              <tr>
                <th>Pièce</th>
                <th>P.U(Ar)</th>
                <th>Nombre</th>
                <th>Marge bénéficiaire(%)</th>
                <th>Date expiration</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of piecesAjoutees; let i = index">
                <td>{{ item.piece }}</td>
                <td>{{ item.prixUnitaire }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.margeBeneficiaire }}</td>
                <td>{{ item.dateExpiration }}</td>
                <td>
                  <button class="btn btn-danger" (click)="supprimerPiece(i)">Supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addEntreePiece()">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal de modification -->
<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modifier la piece</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <form autocomplete="off">
        <div class="modal-body">
          <div class="mb-3">
            <label for="marque" class="form-label">Nom piece</label>
            <input type="text" name="nomPiece" class="form-control" required />
          </div>
          <div class="mb-3">
            <label for="marque" class="form-label">Reference piece</label>
            <input type="text" name="referencePiece" class="form-control" required />
          </div>
          <select class="form-control" name="typePiece" required>
            <option value="Fer">Fer</option>
            <option value="Hydraulique">Hydraulique</option>
          </select>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Enregistrer</button>
      </div>
    </div>

  </div>
</div>
