
<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Mode paiement">
      <form (submit)="addModePaiment()" autocomplete="off">
      <div class="row">
        <div class="col-3">
          <input type="text" class="form-control"  [(ngModel)]="mode.nomMode"  name="nomMode" placeholder="Nom mode paiement">
        </div>
        <div class="col-3">
          <button class="btn btn-primary">Ajouter</button>
        </div>
      </div>
    </form>

    <table class="table table-striped table-hover mt-3">
        <thead>
          <tr>
            <th border="1">Nom mode paiement</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mode of modes; let i = index">
            <td>{{ mode.nomMode }}</td>
          </tr>
        </tbody>
      </table>
    </app-card>
  </div>
</div>






